.navbar
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $bgc-color
    padding: 12px
    font-family: 'Tahoma'
    &-menu
        list-style-type: none
        display: flex
        flex-direction: row
        margin: 0
        padding: 0
        &__item
            margin-left: 10px
            margin-right: 10px
        &__link
            text-decoration: none
            color: $text-color
            font-size: 14px
            font-weight: 400
    &-login
        font-size: 14px
    &-book
        &__name
            font-size: 14px
            font-weight: 700
            text-transform: uppercase
